@*
    Topo do app: branding da Lar + link de volta pra home.
    Usa os tokens --rz-* pra ficar fiel ao design system.
*@
<header class="app-header">
    <div class="container app-header__inner">
        <a href="" class="app-header__brand">
            <img src="assets/logos/lar-symbol-white.svg"
                 alt="Lar"
                 class="app-header__logo" />
            <span class="app-header__name">
                <span class="app-header__company">Cooperativa Lar</span>
                <span class="app-header__sub">Protótipos de Design</span>
            </span>
        </a>

        <nav class="app-header__nav">
            <a href="design-system" class="app-header__link app-header__link--ghost">
                <span class="material-icons" style="font-size:18px; vertical-align: middle;">palette</span>
                Design system
            </a>
            <a href="" class="app-header__link">
                <span class="material-icons" style="font-size:18px; vertical-align: middle;">apps</span>
                Todos os fluxos
            </a>
        </nav>
    </div>
</header>
